/* Start Global Variables */
:root {
    --main-background-color: #ffe600;
    --transition-duration: 0.5s;
}
/* End Global Variables */
/* Start Global Rules */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
p {
    line-height: 1.6;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Oswald', sans-serif;
}
/* End Global Rules */
/* Start Components */
.main-heading {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
.main-heading span {
    color: #515151;
    margin-bottom: 15px;
    display: block;
}
.main-heading h2 {
    font-weight: bold;
    font-size: 30px;
    position: relative;
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 20px;
    padding-bottom: 20px;
}
.main-heading h2::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: var(--main-background-color);
    bottom: 0;
    left: 0;
}
.main-heading p {
    font-weight: 300;
    color: #707070;
    line-height: 1.8;
}
/* End Components */
/* Start Header */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(0 0 0 / 70%);
    z-index: 2;
}
header .container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
}
header .container .logo img {
    width: 150px;
}
header .container nav {
    align-self: stretch;
    display: flex;
    align-items: center;
}
@media (max-width: 991px) {
    header .container nav {
        flex-basis: auto;
    }
}
header .container nav .button {
    width: 50px;
    height: 50px;
    display: none;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    padding: 5px;
    margin-left: auto;
}
@media (max-width: 991px) {
    header .container nav .button {
        display: flex;
    }
}
header .container nav .button span {
    width: 100%;
    height: 5px;
    border-radius: 2px;
    background-color: var(--main-background-color);
}
header .container nav .button span:nth-child(2) {
    width: 60%;
    transition: var(--transition-duration);
}
header .container nav:hover .button span:nth-child(2) {
    width: 100%;
}
header .container nav ul {
    align-self: stretch;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}
@media (max-width: 991px) {
    header .container nav:hover ul {
        display: flex;
    }
    header .container nav ul {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: rgb(0 0 0 / 70%);
        width: 100%;
        flex-direction: column;
    }
}
header .container nav ul li {
    list-style: none;
    display: flex;
    align-items: center;
}
@media (max-width: 991px) {
    header .container nav ul li {
        width: 100%;
        text-align: center;
    }
    header .container nav ul li:hover {
        background-color: var(--main-background-color);
    }
}
header .container nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: var(--transition-duration);
    font-size: 15pt;
    padding: 20px;
    align-self: stretch;
    display: flex;
    justify-content: center;
    align-items: center;
}
header .container nav ul li a:hover {
    color: var(--main-background-color);
}
@media (max-width: 991px) {
    header .container nav ul li a {
        width: 100%;
    }
    header .container nav ul li a:hover {
        color: black;
    }
}
/* End Header */
/* Start Hero Section */
.hero {
    height: 100vh;
    background-image: url(../images/hero-image.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}
.hero .text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    color: white;
    background-color: rgb(0 0 0 / 70%);
    padding: 30px 0;
}
.hero .text h2 {
    font-weight: bold;
    font-size: 50.52pt;
    margin: 0 auto 30px;
}
.hero .text a {
    display: block;
    background-color: var(--main-background-color);
    width: fit-content;
    text-decoration: none;
    color: black;
    padding: 15px 40px;
    font-weight: bold;
    font-size: 20px;
    margin: 0 auto;
}
.hero .arrow {
    width: 50px;
    height: 50px;
    background-color: var(--main-background-color);
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    text-decoration: none;
    color: black;
}
/* End Hero Section */
/* Start Services */
.services .container .services-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    margin-bottom: 60px;
}
@media (max-width: 1199px) {
    .services .container .services-container {
        row-gap: 40px;
    }
}
.services .container .services-container .service {
    text-align: center;
}
.services .container .services-container .service i {
    padding: 50px;
    font-size: 40px;
    background-color: var(--main-background-color);
    color: white;
    border-radius: 50%;
    margin-bottom: 30px;
    transition: var(--transition-duration);
}
.services .container .services-container .service:hover i {
    background-color: initial;
    color: var(--main-background-color);
}
.services .container .services-container .service h2 {
    font-weight: bold;
    font-size: 25px;
    color: #131316;
    margin-bottom: 25px;
}
.services .container .services-container .service p {
    line-height: 1.8;
    color: #707070;
    font-weight: 300;
    font-size: 17px;
}
/* End Services */
/* Start How To Do It */
.how {
    padding: 50px 0;
    background-image: url(../images/how-section-background.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}
.how::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgb(0 0 0 / 70%);
}
.how .container {
    position: relative;
    color: white;
    text-align: center;
}
.how .container .text {
    margin-bottom: 50px;
}
.how .container .text h2 {
    color: var(--main-background-color);
    font-size: 30px;
    margin-bottom: 20px;
}
.how .container .text p {
    font-weight: 200;
}
.how .container .cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}
@media (max-width: 1199px) {
    .how .container .cards {
        row-gap: 40px;
    }
}
.how .container .cards .card i {
    color: var(--main-background-color);
    font-size: 40px;
    margin-bottom: 30px;
}
.how .container .cards .card h2 {
    margin-bottom: 25px;
}
.how .container .cards .card p {
    font-weight: 200;
    font-size: 19px;
}
/* End How To Do It */
/* Start Portfolio */
.portfolio .container .shuffle {
    margin-bottom: 50px;
}
.portfolio .container .shuffle ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    list-style: none;
}
@media (max-width: 767px) {
    .portfolio .container .shuffle ul {
        row-gap: 30px;
    }
}
.portfolio .container .shuffle ul li {
    color: #515151;
    font-size: 20px;
    transition: var(--transition-duration);
    cursor: pointer;
}
.portfolio .container .shuffle ul li:hover {
    color: var(--main-background-color);
}
@media (max-width: 1199px) {
    .portfolio .container .shuffle ul li {
        display: flex;
        flex: 1;
        padding: 30px 20px;
        justify-content: center;
        align-items: center;
        background-color: var(--main-background-color);
        color: black;
    }
    .portfolio .container .shuffle ul li:hover {
        background-color: black;
    }
}
@media (max-width: 991px) {
    .portfolio .container .shuffle ul li {
        flex-basis: calc(100% / 3);
    }
}
@media (max-width: 767px) {
    .portfolio .container .shuffle ul li {
        flex-basis: 100%;
    }
}
.portfolio .container .current-image {
    margin-bottom: 60px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    position: relative;
}
.portfolio .container .current-image .image {
    flex-basis: 50%;
}
@media (max-width: 991px) {
    .portfolio .container .current-image .image {
        flex-basis: 100%;
    }
}
.portfolio .container .current-image .image img {
    max-width: 100%;
}
.portfolio .container .current-image .text {
    flex: 1;
    display: flex;
    align-content: space-between;
    flex-wrap: wrap;
}
@media (max-width: 1199px) {
    .portfolio .container .current-image .text {
        justify-content: center;
        text-align: center;
    }
}
@media (max-width: 991px) {
    .portfolio .container .current-image .text {
        flex-basis: 100%;
    }
}
.portfolio .container .current-image .text h2 {
    color: #515151;
    flex-basis: 100%;
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 20px;
}
@media (max-width: 991px) {
    .portfolio .container .current-image .text h2 {
        font-size: 2.5rem;
    }
}
.portfolio .container .current-image .text p {
    color: #707070;
    font-weight: 300;
    line-height: 1.8;
    font-size: 18px;
    flex-basis: 100%;
}
@media (max-width: 1199px) {
    .portfolio .container .current-image .text p {
        margin-bottom: 25px;
    }
}
@media (max-width: 991px) {
    .portfolio .container .current-image .text p {
        font-size: 1.5rem;
    }
}
.portfolio .container .current-image .text a {
    text-decoration: none;
    background-color: var(--main-background-color);
    color: #131316;
    padding: 20px 50px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}
@media (max-width: 991px) {
    .portfolio .container .current-image .text a {
        /* font-size: 1.6rem; */
        display: none;
    }
}
.portfolio .container .current-image > i {
    font-size: 30px;
    color: var(--main-background-color);
    cursor: pointer;
    align-self: flex-start;
}
@media (max-width: 991px) {
    .portfolio .container .current-image > i {
        width: 100px;
        height: 100px;
        background-color: var(--main-background-color);
        color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        border: 15px solid white;
        font-size: 2rem;
        position: absolute;
        top: -30px;
        right: -30px;
    }
}
@media (max-width: 767px) {
    .portfolio .container .current-image > i {
        position: relative;
        top: 0;
        left: 0;
        order: -1;
        margin-left: auto;
    }
}
.portfolio .container .big-picture {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0 0 0 / 80%);
}
.portfolio .container .big-picture .image {
    width: 80%;
    border: 5px solid white;
}
.portfolio .container .big-picture .image img {
    max-width: 100%;
}
.portfolio .container .big-picture i {
    position: absolute;
    color: black;
    top: 100px;
    right: 100px;
    font-size: 1.8rem;
    background-color: var(--main-background-color);
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: var(--transition-duration);
    border: 4px solid black;
    cursor: pointer;
}
.portfolio .container .big-picture i:hover {
    background-color: black;
    color: var(--main-background-color);
    border-color: white;
}
.portfolio .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    margin-bottom: 50px;
}
.portfolio .gallery .image {
    position: relative;
    overflow: hidden;
    display: flex;
    cursor: pointer;
}
.portfolio .gallery .image img {
    max-width: 100%;
    transition: var(--transition-duration);
    transform: scale(1.01);
}
.portfolio .gallery .image:hover img {
    transform: scale(1.3) rotate(3deg);
}
.portfolio .container .arrow {
    text-align: center;
}
.portfolio .container .arrow i {
    font-size: 35px;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-background-color);
    color: #131316;
    margin: 0 auto;
}
.portfolio .container > .text {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 80px;
}
.portfolio .container > .text h2 {
    font-size: 30px;
    margin-bottom: 30px;
}
.portfolio .container > .text p {
    color: #707070;
    font-weight: 300;
    margin-bottom: 50px;
}
@media (max-width: 767px) {
    .portfolio .container > .text p {
        line-height: 1.8;
    }
}
.portfolio .container > .text a {
    text-decoration: none;
    background-color: var(--main-background-color);
    padding: 20px 50px;
    font-size: 17px;
    font-weight: bold;
    color: #131316;
    display: block;
    width: fit-content;
    margin: 0 auto;
}
/* End Portfolio */
/* Start Statistics */
.statistics {
    padding: 60px 0;
    background-image: url(../images/statistics-background.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}
.statistics::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(19 19 22 / 70%);
}
.statistics .container {
    position: relative;
    color: white;
    text-align: center;
}
.statistics .container h2 {
    font-size: 30px;
    margin-bottom: 20px;
}
.statistics .container > p {
    font-weight: 200;
    font-size: 17px;
    margin-bottom: 50px;
}
.statistics .container .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}
.statistics .container .cards .card {
    padding: 40px 0;
    border: 2px solid var(--main-background-color);
}
.statistics .container .cards .card span {
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 10px;
    display: block;
}
.statistics .container .cards .card p {
    color: var(--main-background-color);
    font-size: 18px;
}
/* End Statistics */
/* Start About */
.about .container .cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    margin: 60px 0;
}
@media (min-width: 1192px) {
    .about .container .cards {
        grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    }
}
.about .container .cards .card {
    display: flex;
    align-items: center;
    gap: 20px;
}
@media (max-width: 1199px) {
    .about .container .cards .card {
        flex-direction: column;
    }
}
.about .container .cards .card i {
    width: 100px;
    height: 100px;
    background-color: var(--main-background-color);
    border-radius: 50%;
    font-size: 35px;
    color: #131316;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about .container .cards .card .text {
    flex: 1;
}
@media (max-width: 1199px) {
    .about .container .cards .card .text {
        text-align: center;
    }
}
.about .container .cards .card .text h2 {
    font-weight: 400;
    color: #515151;
    margin-bottom: 10px;
}
.about .container .cards .card .text p {
    color: #707070;
    font-weight: 200;
    line-height: 1.8;
}
/* End About */
/* Start Team */
.team {
    padding: 50px 0;
    background-color: #ddd;
}
.team .container > .text {
    margin-bottom: 60px;
}
.team .container > .text h2 {
    font-size: 35px;
    text-align: center;
    margin-bottom: 20px;
    color: #131316;
}
.team .container > .text p {
    font-weight: 200;
    color: #707070;
    text-align: center;
    font-size: 18px;
}
@media (max-width: 991px) {
    .team .container > .text p {
        line-height: 1.6;
    }
}
.team .container .team-members {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}
.team .container .team-members .member {
    background-color: white;
    box-shadow: 0 0 10px 2px #888;
}
.team .container .team-members .member img {
    max-width: 100%;
}
.team .container .team-members .member .text {
    text-align: center;
    padding: 20px 0;
}
.team .container .team-members .member .text h3 {
    color: var(--main-background-color);
    font-size: 25px;
    font-weight: 400;
    margin: 0 0 10px;
}
.team .container .team-members .member .text p {
    color: #707070;
    font-size: 18px;
}
/* End Team */
/* Start Skills */
.skills {
    padding: 50px 0;
    background-image: url(../images/skills-background.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}
.skills::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(19 19 22 / 70%);
}
.skills .container {
    position: relative;
    color: white;
    text-align: center;
}
.skills .container .text {
    margin-bottom: 50px;
}
.skills .container .text h2 {
    font-size: 35px;
    margin-bottom: 20px;
}
.skills .container .text p {
    font-weight: 200;
    font-size: 18px;
}
.skills .container .circles {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}
.skills .container .circles .circle {
    padding: 20px;
}
.skills .container .circles .circle > span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    font-size: 40px;
    margin: 0 auto;
    color: var(--main-background-color);
    font-weight: 200;
    position: relative;
}
.skills .container .circles .circle > span::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 10px;
    background-color: white;
    bottom: 0;
}
.skills .container .circles .circle > span .fill {
    content: "";
    position: absolute;
    width: 0;
    height: 10px;
    bottom: 0;
    left: 0;
    background-color: var(--main-background-color);
}
.skills .container .circles .circle p {
    font-size: 20px;
    color: var(--main-background-color);
    margin-top: 10px;
}
/* End Skills */
/* Start Clients */
.clients {
    padding: 0 0 80px;
}
.clients .container .logos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    margin-bottom: 60px;
}
@media (max-width: 767px) {
    .clients .container .logos {
        row-gap: 40px;
    }
}
.clients .container .logos .logo {
    display: flex;
    justify-content: center;
    align-items: center;
}
.clients .container .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.clients .container .buttons i {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    background-color: var(--main-background-color);
    color: #131316;
}
/* End Clients */
/* Start Quote */
.quote {
    padding: 80px 0;
    background-image: url(../images/quote-background.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}
.quote::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgb(19 19 22 / 70%);
}
.quote .container {
    position: relative;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.quote .container q {
    font-size: 25px;
    text-align: center;
    flex-basis: 100%;
}
.quote .container q::before {
    content: "\f10d";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
    color: var(--main-background-color);
}
.quote .container q::after {
    content: "\f10e";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-left: 10px;
    color: var(--main-background-color);
}
.quote .container h3 {
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    flex-basis: 100%;
}
.quote .container .squares {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.quote .container .squares span {
    display: block;
    width: 10px;
    height: 10px;
    background-color: var(--main-background-color);
    animation-name: coloring;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.quote .container .squares span:first-child {
    animation-delay: 3s;
}
.quote .container .squares span:nth-child(2) {
    animation-delay: 4s;
}
.quote .container .squares span:nth-child(3) {
    animation-delay: 5s;
}
.quote .container .squares span:last-child {
    animation-delay: 6s;
}
@keyframes coloring {
    to {
        opacity: 0.2;;
    }
}
/* End Quote */
/* Start Contact */
.contact {
    padding: 60px 0;
}
.contact .container .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px , 1fr));
    gap: 20px;
}
.contact .container .cards .card {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.contact .container .cards .card i {
    font-size: 35px;
    color: var(--main-background-color);
}
.contact .container .cards .card h2 {
    font-weight: 400;
    color: #131316;
}
.contact .container .cards .card:first-child address {
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    color: #515151;
}
.contact .container .cards .card:nth-child(2) a {
    font-weight: 300;
    text-decoration: none;
    font-size: 20px;
    color: #515151;
}
.contact .container .cards .card:last-child span {
    font-size: 20px;
    font-weight: 300;
    color: #515151;
}
/* End Contact */
/* Start Messaging */
.messaging {
    padding: 60px 0;
    background-image: url(../images/contact-background.jpg);
    background-size: cover;
    background-position: bottom;
    position: relative;
}
.messaging::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgb(19 19 22 / 70%);
}
.messaging .container {
    position: relative;
    color: white;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.messaging .container .text {
    flex-basis: 100%;
    text-align: center;
    margin-bottom: 50px;
}
.messaging .container .text h2 {
    font-size: 30px;
    margin-bottom: 15px;
}
.messaging .container .text p {
    font-weight: 300;
}
.messaging .container form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    flex: 1;
}
.messaging .container form input[name="name"] {
    flex-basis: calc((100% / 3) - (40px / 3));
    background: none;
    border: 2px solid white;
    padding: 15px;
    color: white;
    font-size: 20px;
}
@media (max-width: 1199px) {
    .messaging .container form input[name="name"] {
        flex-basis: calc((100% / 2) - (20px / 2));
    }
}
@media (max-width: 767px) {
    .messaging .container form input[name="name"] {
        flex-basis: 100%;
    }
}
.messaging .container form input[name="name"]:focus {
    outline: none;
}
.messaging .container form input[name="name"]::placeholder {
    color: white;
    font-weight: 300;
    font-size: 18px;
}
.messaging .container form input[type="email"] {
    flex-basis: calc((100% / 3) - (40px / 3));
    background: none;
    color: white;
    border: 2px solid;
    padding: 15px;
    font-size: 20px;
}
@media (max-width: 1199px) {
    .messaging .container form input[type="email"] {
        flex-basis: calc((100% / 2) - (20px / 2));
    }
}
@media (max-width: 767px) {
    .messaging .container form input[type="email"] {
        flex-basis: 100%;
    }
}
.messaging .container form input[type="email"]:focus {
    outline: none;
}
.messaging .container form input[type="email"]::placeholder {
    color: white;
    font-weight: 300;
    font-size: 18px;
}
.messaging .container form input[name="subject"] {
    flex-basis: calc((100% / 3) - (40px / 3));
    background: none;
    padding: 15px;
    font-size: 20px;
    border: 2px solid;
    color: white;
}
@media (max-width: 1199px) {
    .messaging .container form input[name="subject"] {
        flex-basis: 100%;
    }
}
.messaging .container form input[name="subject"]:focus {
    outline: none;
}
.messaging .container form input[name="subject"]::placeholder {
    color: white;
    font-weight: 300;
    font-size: 18px;
}
.messaging .container form textarea {
    flex-basis: 100%;
    background: none;
    padding: 15px;
    font-size: 20px;
    color: white;
    border: 2px solid;
    height: 200px;
    resize: none;
}
.messaging .container form textarea:focus {
    outline: none;
}
.messaging .container form textarea::placeholder {
    color: white;
    font-weight: 300;
    font-size: 18px;
}
.messaging .container form input[type="submit"] {
    background-color: var(--main-background-color);
    border: none;
    padding: 15px 45px;
    font-weight: bold;
    color: #161f32;
    font-size: 20px;
    margin: 0 auto;
}
.messaging .container form input[type="submit"]:focus {
    outline: none;
}
/* End Messaging */
/* Start Footer */
footer {
    background-color: #161f32;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    color: white;
}
footer p {
    flex-basis: 100%;
    text-align: center;
    font-weight: 300;
    font-size: 20px;
}
footer p span {
    color: var(--main-background-color);
}
footer .social {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 30px;
}
footer .social a {
    text-decoration: none;
    color: white;
}
footer > a {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    background-color: var(--main-background-color);
    text-decoration: none;
    color: #131316;
}
/* End Footer */